<a href="https://colab.research.google.com/github/GTD2101-ACD-AA-EJ23/pandas-20170778/blob/main/01.%20CreateReadWrite.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Creando, Leyendo y Escribiendo datos

En este JNB se revisará el tema de creación, lectura y escritura de datos en Pandas

# DataFrame

In [1]:
import pandas as pd

In [2]:
pd.DataFrame({'Yes': [50, 21], 'No': [131, 2]})

   Yes   No
0   50  131
1   21    2

In [3]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland.']})

             Bob           Sue
0    I liked it.  Pretty good.
1  It was awful.        Bland.

In [4]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 
              'Sue': ['Pretty good.', 'Bland.']},
             index=['Product A', 'Product B'])

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

# Series

In [5]:
pd.Series([1, 2, 3, 4, 5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

# DataFrames a partir de archivos
La forma más común de crear DataFrames es a partir de fuentes de datos externos, típicamente archivo CSV. Pandas nos ofrece la función pd.read.csv() para crear un DataFrame a parir de este tipo de archivos.

In [9]:
wine_reviews = pd.read_csv("https://raw.githubusercontent.com/GTD2101-ACD-AA-EJ23/pandas-20170778/main/data/winemag-data-130k-v2.csv")

In [11]:
wine_reviews.head

<bound method NDFrame.head of         Unnamed: 0   country  \
0                0     Italy
1                1  Portugal
2                2        US
3                3        US
4                4        US
...            ...       ...
129966      129966   Germany
129967      129967        US
129968      129968    France
129969      129969    France
129970      129970    France

                                              description  \
0       Aromas include tropical fruit, broom, brimston...
1       This is ripe and fruity, a wine that is smooth...
2       Tart and snappy, the flavors of lime flesh and...
3       Pineapple rind, lemon pith and orange blossom ...
4       Much like the regular bottling from 2012, this...
...                                                   ...
129966  Notes of honeysuckle and cantaloupe sweeten th...
129967  Citation is given as much as a decade of bottl...
129968  Well-drained gravel soil gives this wine its c...
129969  A dry style of Pinot Gris, this is crisp with ...
129970  Big, rich and off-dry, this is powered by inte...

                                   designation  points  price  \
0                                 Vulkà Bianco      87    NaN
1                                     Avidagos      87   15.0
2                                          NaN      87   14.0
3                         Reserve Late Harvest      87   13.0
4           Vintner's Reserve Wild Child Block      87   65.0
...                                        ...     ...    ...
129966  Brauneberger Juffer-Sonnenuhr Spätlese      90   28.0
129967                                     NaN      90   75.0
129968                                   Kritt      90   30.0
129969                                     NaN      90   32.0
129970           Lieu-dit Harth Cuvée Caroline      90   21.0

                 province             region_1           region_2  \
0       Sicily & Sardinia                 Etna                NaN
1                   Douro                  NaN                NaN
2                  Oregon    Willamette Valley  Willamette Valley
3                Michigan  Lake Michigan Shore                NaN
4                  Oregon    Willamette Valley  Willamette Valley
...                   ...                  ...                ...
129966              Mosel                  NaN                NaN
129967             Oregon               Oregon       Oregon Other
129968             Alsace               Alsace                NaN
129969             Alsace               Alsace                NaN
129970             Alsace               Alsace                NaN

               taster_name taster_twitter_handle  \
0            Kerin O’Keefe          @kerinokeefe
1               Roger Voss            @vossroger
2             Paul Gregutt           @paulgwine
3       Alexander Peartree                   NaN
4             Paul Gregutt           @paulgwine
...                    ...                   ...
129966  Anna Lee C. Iijima                   NaN
129967        Paul Gregutt           @paulgwine
129968          Roger Voss            @vossroger
129969          Roger Voss            @vossroger
129970          Roger Voss            @vossroger

                                                    title         variety  \
0                       Nicosia 2013 Vulkà Bianco  (Etna)     White Blend
1           Quinta dos Avidagos 2011 Avidagos Red (Douro)  Portuguese Red
2           Rainstorm 2013 Pinot Gris (Willamette Valley)      Pinot Gris
3       St. Julian 2013 Reserve Late Harvest Riesling ...        Riesling
4       Sweet Cheeks 2012 Vintner's Reserve Wild Child...      Pinot Noir
...                                                   ...             ...
129966  Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...        Riesling
129967                  Citation 2004 Pinot Noir (Oregon)      Pinot Noir
129968  Domaine Gresser 2013 Kritt Gewurztraminer (Als...  Gewürztraminer
129969      Domaine Marcel Deiss 2012 Pinot Gris (Alsace)      Pinot Gris
129970  Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...  Gewürztraminer

                                          winery
0                                        Nicosia
1                            Quinta dos Avidagos
2                                      Rainstorm
3                                     St. Julian
4                                   Sweet Cheeks
...                                          ...
129966  Dr. H. Thanisch (Erben Müller-Burggraef)
129967                                  Citation
129968                           Domaine Gresser
129969                      Domaine Marcel Deiss
129970                          Domaine Schoffit

[129971 rows x 14 columns]>